<html lang="en">
	<head>
		<title>Create an account</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="static/css/normalize.css" rel="stylesheet">
		<style type="text/css">
			{{ template "common/login-common.css" }}
		</style>
	</head>
	<body>
		<div class="login">
			<h1>Check your email</h1>
			<p>We just sent you an email. Go check your inbox, and click the link in the email to finish signing up.</p>
			<p>Didn&rsquo;t get an email? Don&rsquo;t worry, just go back and sign up again, and we&rsquo;ll send a new one.</p>
		</div>
	</body>
</html>
